.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}

.ml5 {margin-left:5px;}
.ml8 {margin-left:8px;}
.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}

.w100 {width:100px;}
.w122 {width:122px;}
.w155 {width:155px;}
.w220 {width:220px;}
.w255 {width:255px;}
.w260 {width:260px;}
.w265 {width:265px;}
.w270 {width:270px;}
.w655 {width:655px;}

.littleGray{background-color:#dddddd;}
.lightGray{background-color:#ececec;}
.bgWhite{background-color:#fdfbfb;}

.black{color:black;}


