@charset "utf-8";
/* CSS Document */
.c_left {
	width:190px;
	margin:0 8px 0 0 ;
	float:left;
	}
.c_right {
	width:800px;
	float:left;
	overflow:hidden;
	zoom:1;
	}
.l_nav {
	/*border:1px solid #ccc;*/
	border-top:1px solid #e6e6e6;
	}
.l_nav ul li {
	height:32px;
	line-height:32px;
	text-indent:1.2em;
	border-bottom:1px solid #e6e6e6;
	background:#f8f8f8;
	}
.l_nav ul li a {
	color:#222;
	text-decoration:none;
	display:block;
	}
.l_nav .curr {
	background:#a6a6a6;	
	}
.l_nav .curr a{
	color:#fff;	
	font-weight:bold;
	display:block;
	}
.l_nav ul li a:hover{
	color:#fff;	
	font-weight:bold;
	background:#a6a6a6;
	}
.con {
	background:#fff;
	overflow:hidden;
	zoom:1;
	}
.con ul li {
	width:492px;
	height:225px;
	margin:10px 10px 0 0;
	float:left;
	border:1px solid #cccccc;
	border-radius:3px;
	}
.con ul .b_none {
	margin:10px 0 0 0;
	}
.box_bar {
	border-bottom:2px solid #8b0510;
	height:36px;
	line-height:36px;
	padding:0 10px;
	text-indent:1.5em;
	}
.bar_title {
	float:left;
	font-size:14px;
	color:#3b3b3b;
	font-weight:bold;
	}
.bar_more {
	float:right;
	}
.bar_more a {
	color:#666;
	}
.icon_1 {
	background:url(../images/icon_1.gif) 10px center no-repeat;
	}
.icon_2 {
	background:url(../images/icon_2.gif) 10px center no-repeat;
	}
.icon_3 {
	background:url(../images/icon_3.gif) 10px center no-repeat;
	}
.icon_4 {
	background:url(../images/icon_4.gif) 10px center no-repeat;
	}
.icon_5 {
	background:url(../images/icon_5.gif) 10px center no-repeat;
	}
.icon_6 {
	background:url(../images/icon_6.gif) 10px center no-repeat;
	}
.con .n_con ul li{
	text-indent:1em;
	border:0;
	height:29px;
	line-height:29px;
	margin:0;
	}
.n_left {
	float:left;
	}
.n_left a {
	color:#3b3b3b;
	}
.n_left a:hover {
	color:#c91617;
	}
.n_time {
	float:right;
	margin: 0 10px 0 0;
	}
.position {
	text-indent:1.6em;
	height: 36px;
	line-height:36px;
	padding:0 0 0 12px;
	background:url(../images/position.gif) no-repeat 12px center;
	}
.s_form {
	border-bottom: 1px solid #e7e7e7;
    padding: 0 0 10px;
	}
.s_form table {
	margin:10px 0 0 20px;
	width:95%;
	border:1px solid #e7e7e7;
	border-right:0;
	border-bottom:0;
	}
.s_form table td{
	padding:5px 6px;
	border-bottom:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	}
.s_form table .align_r {
	text-align:right;
	}
.bg_f8 {
	background:#f8f8f8;
	font-weight:bold;
	}
.inp {
	padding:2px;
	width:155px;
	border:1px solid #ccc;
	height:24px;
	line-height:24px;
	border-radius:3px;
	}
.list_con {
	border-top:1px solid #e6e6e6;
	margin:5px 0 0 0;
	}
.list_con table {
	border-bottom:1px solid #e6e6e6;
	width:100%;
	padding:10px 20px;
	}
.list_con table td {
	padding:5px 0;
	}
.btn_sty {
	padding:3px 20px;
	margin:0 10px;
	}
.active_con {
	margin:5px 0 0 0;
	}
.active_con table {
	width:100%;
	padding:10px 20px;
	}
.active_con table td {
	padding:8px 0;
	text-align:center;
	}
.active_con table th {
	text-align:center;
	background:#f2f2f2;
	padding:6px 0;
	font-weight:bold;
	}
.bg_gray {
	background:#f4f4f4;
	}

.f_left {
	vertical-align:middle;
	margin:0 10px;
	float:left;
	display:inline-block;
	}
.s_form table .app {
	text-align:center;
	}
.btn_se {
	margin:5px 0;
	vertical-align:top;
	}
.w80 {
	width:80px;
	}
.ac_inp {
	text-align:center; 
	width:580px;
	_width:620px;
	margin:20px auto 0 auto;
	overflow:hidden;
	zoom:1;
	}
.ac_btn {
	height:150px;
	padding:5px 0 0 0;
	}
.inno_title h1 {
	color: #404067;
    font-size: 26px;
    font-weight: bold;
    height: 3em;
    line-height: 3em;
    text-align: center;
	}
.inno_title p {
	text-align:center;
	text-decoration:underline;
	color:#c30000;
	}
/*.inno_form {
	margin:50px 0;
	}*/
.inno_form table {
	width:400px;
	margin:0 auto;

	}
.inno_form table td {
	padding: 0 5px;
	}
.inno_pro {
	background:url(../images/img1.gif) no-repeat center top;
	height:237px;
	width:780px;
	margin:0 auto 30px auto;
	position:relative;
	}
.line1 {
	margin:45px 0 0 0px;
	position:absolute;
	height:120px;
	}
.line1_w1 {
	display: inline-block;
    margin: 0 0 0 18px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line1_w2 {
	display: inline-block;
    margin: 0 0 0 52px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line1_w3 {
	display: inline-block;
    margin: 0 0 0 74px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line1_w4 {
	display: inline-block;
    margin: 0 0 0 66px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.c_red {
	color:#c30000;
	font-weight:bold;
	}
.line2 {
	margin:145px 0 0 190px;
	position:absolute;
	height:120px;
	}
.line2_w1 {
	display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line2_w2 {
	display: inline-block;
    margin: 0 0 0 35px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line2_w3 {
	display: inline-block;
    margin: 0 0 0 35px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}
.line2_w4 {
	display: inline-block;
    margin: 0 0 0 24px;
    text-align: center;
    vertical-align: middle;
    width: 118px;
	}

.line2_end {
	margin:0;
	}
.line_b {
	border:1px solid #ccc;
	}
.inno_pro2 {
	background:url(../images/img2.gif) no-repeat center top;
	height:237px;
	width:780px;
	margin:0 auto 30px auto;
	position:relative;
	}
.pro2_line1 {
	margin:53px 0 0 30px;
	position:absolute;
	height:120px;
	}
.line1_step {
	display: inline-block;
    margin: 0 29px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 93px;
	}
.no_margin {
	margin:0;
	}
.pro2_line2 {
	margin:145px 0 0 152px;
	position:absolute;
	height:120px;
	}
.line2_step {
	display: inline-block;
    margin: 0 39px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 100px;
	}
.inno_pro3 {
	background:url(../images/img3.gif) no-repeat center top;
	height:237px;
	width:780px;
	/* margin:0 auto 30px auto; */
	margin:0 auto 0px auto;
	position:relative;
	}
.select_ta {
	border:1px solid #e7e7e7;
	width:200px;
	height:140px;
	}
.select_ta ul li {
	display:block;
	height:22px;
	line-height:22px;
	text-align:left;
	}
.select_ta ul li a{
	display:block;
	height:22px;
	line-height:22px;
	padding:2px 5px 0 5px;
	}
.bg_selected a {
	color:#fff;
	text-decoration:none;
	background:#CCC;
	}
.select_ta ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#ccc;
	}
.b_con {
	margin:20px auto;
	}
.b_con ul li {
	width:226px;
	height:150px;
	border:1px solid #ccc;
	float:left;
	margin:0 28px 30px 0;
	}
.b_con ul li a {
	display:block;

	}
.b_con .mb30 {
	margin:0 0 30px 0;
	}
.b_thumb {
	display:block; 
	vertical-align:middle;
	width:110px;
	height:60px;
	margin:38px 0 0 50px;
	}
.b_title {
	margin:32px 0 0 5px;
	display:block;
	}
